<h3>Welcome to the Yak-Shop</h3>
<div class="row">
  <div class="col-xs-6 col-md-3" *ngIf = "!isLoggedIn">
    <a routerLink = "/login" class="thumbnail loginIcon">
      <img src = "/assets/images/login_icon.png"/>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" *ngIf = "!isLoggedIn">
    <a routerLink = "/register" class="thumbnail registerIcon">
      <img src = "/assets/images/register_icon.jpg"/>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" *ngIf = "isLoggedIn && isAdmin">
    <a routerLink = "/uploadHerd" class="thumbnail uploadData">
      <img src = "/assets/images/uploadData.png"/>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" *ngIf = "isLoggedIn && !isAdmin">
    <a routerLink = "/placeorder" class="thumbnail placeOrder">
      <img src = "/assets/images/PlaceOrder.png"/>
    </a>
  </div>
  <div class="col-xs-6 col-md-3" *ngIf = "isLoggedIn">
    <a (click) = "onLogout()" class="thumbnail logoutIcon">
      <img src = "/assets/images/logout_icon.jpg"/>
    </a>
  </div>
</div>