<div id = "loginPage">
    <h3>Login to the Yak Shop</h3>
    <form name = "loginForm" (ngSubmit) = "onLogin(f)" #f = "ngForm">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email" ngModel name = "email" required email #emailField = "ngModel">
        <p class = "errorMsg" *ngIf = "emailField.touched && !emailField.valid">Please enter valid email address.</p>
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Password" ngModel name = "password" required #pwdField = "ngModel">
        <p class = "errorMsg" *ngIf = "pwdField.touched && !pwdField.valid">Please enter valid password.</p>
      </div>
      <button type="submit" [disabled] = "!f.valid" class="btn btn-default">Login</button>
      <p><span>New User?</span><a routerLink = "/register"> Register here!</a></p>
    </form>
</div>